@model Tuple<MedicalSite.Models.CitasViewModel, SelectList>
@using (Html.BeginForm())
{
    <div>
        <form method="Post" asp-action="GuardaCita" asp-controller="Citas">
            <div>
                <div class="form-group">
                    <label asp-for="Item1.idPaciente" class="Control-label"></label>
                    <input type="text"  asp-for="Item1.idPaciente" name="idPaciente" class="form-control" />

                   @* @Html.TextBoxFor(model => model.Item1.idPaciente)*@
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                <label asp-for="Item1.idTipoCita" class="Control-label"></label>
                </div>
                    <div class="col-md-10">
                        <select asp-for="Item1.idTipoCita" name="idTipoCita" asp-items="@Model.Item2"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Item1.nombreMedico" class="Control-label"></label>

                  @*  @Html.TextBoxFor(model => model.Item1.nombreMedico)*@
                    <input type="text" asp-for="Item1.nombreMedico" name="nombreMedico" class="form-control" />

                </div>
                <div class="form-group">                   
                    <label asp-for="Item1.fecha" class="Control-label"></label>
                    <input type="date" asp-for="Item1.fecha" name="fecha" class="form-control">
                </div>
                <div>
                    <button type="submit">
                        Guardar Cita
                    </button>

                </div>
                <h2>@Html.Raw(@ViewBag.Message)</h2>
            </div>
        </form>
    </div>
}