@model List<MedicalSite.Models.CitasViewModel>

@{
    ViewData["Title"] = "Listado de Citas";
}

<h2>Citas</h2>

<p>
    <a asp-action="NuevaCita" >Nueva Cita</a>
</p>
<table class="table">
   
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTipoCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreMedico)
            </td>
            <td>
                
                    <a asp-action="Cancelar" type="submit" asp-controller="Citas"  asp-route-idPaciente="@item.idPaciente">Cancelar</a>
             

                
            </td>
        </tr>
       

        
}
    </tbody>
</table>



<div> <h2>@Html.Raw(@ViewBag.Message)</h2></div>